.swiper-1 {
  width: 600px;
  height: 300px;
  background: wheat;

  .swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.swiper-2{
  width: 800px;
  height: 400px;

  .swiper-slide{
    object-fit: contain;
  }
}

.swiper-3{
  width: 900px;
  height: 500px;

  .swiper-slide{
    object-fit: contain;
  }
}

.swiper-4{
  width: 100%;
  height: 300px;
  background: wheat;

  .swiper-slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .swiper-pagination-bullet{
    width: 7px;
    height: 7px;
    background: white;
    opacity: 100%;
    border-radius: 0;
    transform: rotate(45deg);
  }

  .swiper-pagination-bullet-active{
    background: teal;
  }
}

.swiper-5{
  width: 100%;

  .swiper-slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .swiper-pagination-bullet{
    width: 7px;
    height: 7px;
    background: white;
    opacity: 100%;
    border-radius: 0;
    transform: rotate(45deg);
  }

  .swiper-pagination-bullet-active{
    background: teal;
  }
}

.swiper-6{
  width: 900px;
  height: 500px;

  .swiper-slide{
    object-fit: contain;
  }
}
