

:root{

  //Dimension page
  --max-width: 1440px;
  --min-width: 335px;

  --padding-thin: 10px;
  --padding-large: 20px;

  --margin-thin: 10px;
  --margin-large: 20px

}


// Media queries breakpoints
$vw-thin: 320px;
$vw-small: 480px;
$vw-medium: 780px;
$vw-large: 1000px;
$vw-huge: 1200px;